body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;  
}


.first-screen{
    background: url("../img/first-bg.jpg") center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    width: 100%;
    min-height: 800px;

    justify-content:center;  
}

.container{
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}

/*Header*/
.first-inner{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;  
}

.first-address{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #ffffff;   
}

.first-num{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    color: #FFFFFF; 
}

/*Menu*/
.menu{
    margin-top: 20px;
    border: solid 1px #ffffff;
    border-left: none;
    border-right: none;  
}

.main-menu{
    display: flex;
    justify-content: space-between;
}

.menu_link{
    width: 25%;
    padding-top: 11px;
    padding-bottom: 15px;
    text-align: center;

    border-left: solid 1px #ffffff;

    font-family: "Montserrat";
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
}

.menu_link:hover{
    color: #998431;

    transition: color .2s linear;
}

.menu_link:first-child{
    border-left: none;
}

.menu_link:last-child{
    border-right: none;
}

/*Buttons*/
.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50%;
}

.btn-1{
    background: #99862a;
    color: #ffffff;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;

    padding: 15px 30px;
    margin: 0px 15px;
}

.btn-2{
    background: #99862a;
    color: #ffffff;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;

    padding: 15px 30px;
    margin: 0px 15px;
}

.btn-1:hover{
    transition: 0.6s;
    color: #99862a;
    background: #ffffff;  
}
.btn-2:hover{
    transition: 0.6s;
    color: #99862a;
    background: #ffffff;
}

/*Блок №"2*/

.wine_info{
    border: 3px solid #282828;
    box-sizing: border-box;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    align-items: center;
    background-color: #282828;
}

.container_two{
    border: 3px solid #c4c4c4;
    box-sizing: border-box;
    padding: 3% 10%;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    align-items: center;

    max-width: 1110px;
    height: 656px;
  
}  

.wine_title{
    display: block;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;

    font-family: "Playfair Display";
    font-style: normal;
    font-weight: bold; 
}

.wine_title::after{
    content: "";
    display: block;
    width: 160px;
    height: 1px;
    margin: 60px auto;

    background-color: #fff;
    margin-top: 5%;
    margin-bottom: 5%;
}

.wine_text{
    display: block;
    
    font-weight: normal;
    text-align: center;
    color: #FFFFFF;

    font-family:"Montserrat";
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
}

.wine_img{
    margin-top: 8%;
    width: 80px;
    height: 160px;
}

/*Блок №3*/
/*First Column*/

.wine_collection{
    width: 100%;
    background-color: #E6E3C4;
    margin-top: 0;
    padding: 0 0;

    display: flex;
    justify-content: space-between;
    border: 1px solid #998431;
    border-right: none;
    border-left: none;
    padding: 4% 0;
}


.wine_columns{
    display: flex;
    justify-content: space-between;
    border: 2px solid #998431;
    border-right: none;
    border-left: none;
    padding: 4% 0;

    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.first_column{
    display: block;
    width: 40%;
}

.first_column_title{
    font-family: Montserrat;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    color: #282828;
}

.first_column_suptitle{
    font-size: 36px;
    line-height: 150%;
    color: #282828;
    margin-top: 5%;
}

.first_column_suptitle::after{
    content: "";
    display: block;
    height: 1px;
    width: 160px;
    background-color: #282828;
    margin-top: 5%;
    margin-bottom: 5%;
}

.first_column_text{
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
}

.wine_table{
    width: 100%;
    border-spacing: 0;
    padding: 8% 0;
  
}

.wine_td{
    padding: 26px 24px;
    border-left: 2px solid #998431;
    border-top: 2px solid #998431; 
}

.wine_td:first-child{
    border-left: none;
}

.wine_column_text{
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
    font-family: "Montserrat";
    color: #282828;
}

.wine_button{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 8%;
}

.wine_button_text{
    background: #99862a;
    color: #ffffff;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;

    padding: 15px 20px;
    margin: 0px 0px;
}

.wine_button_text:hover{
    transition: 0.6s;
    color: #99862a;
    background: #ffffff; 
}

/*Second Column*/

.second_column{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wine_column_img{
    width: 45%;
    object-fit: cover;
}

.wine_column_big{
    width: 100%;
    margin-bottom: 6%;
}
