body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;  
}


.first-screen{
    height: 880px;
    width: 100%;
    justify-content: center;
    background: linear-gradient(180deg, #282828 0%, rgba(40, 40, 40, 0) 100%), url("../img/first-bg.jpg") center no-repeat;
    background-size: cover;
}

.container{
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;   
}

/*Header*/
.first-inner{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;  
}

.first-address{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #ffffff;   
}

.first-num{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    color: #ffffff; 
}

/*Menu*/
.menu{
    margin-top: 20px;
    border: solid 1px #ffffff;
    border-left: none;
    border-right: none;  
}

.main-menu{
    display: flex;
    justify-content: space-between;
}

.menu_link{
    width: 25%;
    padding-top: 11px;
    padding-bottom: 15px;
    text-align: center;

    border-left: solid 1px #ffffff;

    font-family: "Montserrat";
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
}

.menu_link:hover{
    color: #998431;

    transition: color .2s linear;
}

.menu_link:first-child{
    border-left: none;
}

.menu_link:last-child{
    border-right: none;
}

/*Buttons*/
.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50%;
}

.btn-1{
    background: #99862a;
    color: #ffffff;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;

    padding: 15px 30px;
    margin: 10px 15px;
}

.btn-2{
    background: #99862a;
    color: #ffffff;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;

    padding: 15px 30px;
    margin: 10px 15px;
}

.btn-1:hover{
    transition: 0.6s;
    color: #99862a;
    background: #ffffff;  
}
.btn-2:hover{
    transition: 0.6s;
    color: #99862a;
    background: #ffffff;
}

/*Блок №"2*/

.wine_info{
    border: 3px solid #282828;
    box-sizing: border-box;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    align-items: center;
    background-color: #282828;
}

.container_two{
    border: 3px solid #c4c4c4;
    box-sizing: border-box;
    padding: 3% 10%;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    align-items: center;

    max-width: 1110px;
    height: 656px;
  
}  

.wine_title{
    display: block;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    color: #ffffff;

    font-family: "Playfair Display";
    font-style: normal;
    font-weight: bold; 
}

.wine_title::after{
    content: "";
    display: block;
    width: 160px;
    height: 1px;
    margin: 60px auto;

    background-color: #fff;
    margin-top: 5%;
    margin-bottom: 5%;
}

.wine_text{
    display: block;
    
    font-weight: normal;
    text-align: center;
    color: #ffffff;

    font-family:"Montserrat";
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
}

.wine_img{
    margin-top: 8%;
    width: 80px;
    height: 160px;
}

/*Блок №3*/
/*First Column*/

.wine_collection{
    width: 100%;
    background-color: #E6E3C4;
    margin-top: 0;
    padding: 0 0;

    display: flex;
    justify-content: space-between;
    border: 1px solid #998431;
    border-right: none;
    border-left: none;
    padding: 4% 0;
}


.wine_columns{
    display: flex;
    justify-content: space-between;
    border: 2px solid #998431;
    border-right: none;
    border-left: none;
    padding: 4% 0;

    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.first_column{
    display: block;
    width: 40%;
}

.first_column_title{
    font-family: "Montserrat";
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    color: #282828;
}

.first_column_suptitle{
    font-size: 36px;
    line-height: 150%;
    color: #282828;
    margin-top: 5%;
}

.first_column_suptitle::after{
    content: "";
    display: block;
    height: 1px;
    width: 160px;
    background-color: #282828;
    margin-top: 5%;
    margin-bottom: 5%;
}

.first_column_text{
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
}

.wine_table{
    width: 100%;
    border-spacing: 0;
    padding: 8% 0;
  
}

.wine_title_col{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: #282828;
}

.wine_td{
    padding: 26px 24px;
    border-left: 2px solid #998431;
    border-top: 2px solid #998431;
}

.wine_td:first-child{
    border-left: none; 
}


.wine_column_text{
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
    color: #282828;
}

.wine_button{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 8%;
}

.wine_button_text{
    background: #99862a;
    color: #ffffff;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;

    padding: 15px 20px;
    margin: 0px 0px;
}

.wine_button_text:hover{
    transition: 0.6s;
    color: #99862a;
    background: #ffffff; 
}

/*Second Column*/

.second_column{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wine_column_img{
    width: 45%;
    object-fit: cover;
}

.wine_column_big{
    width: 100%;
    margin-bottom: 10%;
}

/*Блок №4*/

.wine_form{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282828;
    padding: 3% 15%;
    
}

.container_three{
    background-color: #282828;
    padding: 3% 15%;
    margin-top: 8%;
    margin-bottom: 6%;
    
    
}

.wine_form_title{
    font-size: 30px;
    font-family: 'Playfair Display', serif;  
    line-height: 150%;
    text-align: center;
    color: #ffffff;

    margin-top: -9%;
    margin-bottom: 8%;
    background-color: #282828;
    padding: 0 10%;
}


.wine_form_text{
    font-weight: normal;
    text-align: center;
    color: #ffffff;

    font-family: "Montserrat";
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    margin-top: 2%;
}

.wine_form_line{
    content: "";
    width: 118px;
    background-color: #FFFFFF;
    height: 1px;
    margin-top: 7%;
    margin-bottom: 7%;
    margin: 0 auto;
}

/*Form*/

.contact_form{
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}


.grape{
    position: absolute;
    left: 7%;
    margin-top: -7%;
    width: 180px;
    background-color: #282828;  
}

.barrel{
    position: absolute;
    right: 9%;
    margin-top: -7%;
    width: 140px;
    background-color: #282828;
      
}

.container_three{
    border: 3px solid #C4C4C4;
    box-sizing: border-box;
}

/*Input*/

.wine_form_input{
    width: 48%;
    height: 30px;

    background-color: #282828;
    color: #FFFFFF;
    border: 0;
    border-bottom: 2px solid #C4C4C4;

    font-family: "Montserrat";
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    outline: none;
}

.wine_form_input-big{
    width: 100%;
    height: 30px;
    margin-top: 8%;

    background-color: #282828;
    color: #FFFFFF;
    border: 0;
    border-bottom: 2px solid #C4C4C4;

    font-family: "Montserrat";
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    outline: none;
}

/*Button*/

.wine_form_button{
    display: flex;
    justify-content: center;

    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
}

.wine_form_btn{
    width: 100%;

    background-color: #282828;
    border: 1px solid #FFFFFF;
    color: #ffffff;

    
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.05em;

    text-transform: uppercase;
    padding: 15px 30px;
    margin: 0px 15px;
}

.wine_form_btn:hover{
    transition: 0.6s;
    color: #99862a;
    background: #ffffff; 
}

/*Footer*/

.footer{
    display: block;
    background: #998431;
    padding: 3% 0;
}

.container_ftr{
    width: 80%;
    margin-right: 10%;
    margin-left: 10%; 
}

/*nav 1*/

.footer_nav_big{
    display: flex;
    justify-content: space-between;
    border: solid 1px #ffffff;
    border-left: none;
    border-right: none;
    padding-left: 4%;
    padding-right: 4%;
}

.footer_big_link{
    text-decoration: none;
    color: #ffffff;

    padding-top: 11px;
    padding-bottom: 15px;
    text-align: center;
}

.footer_big_link:hover{
    color: #282828;
    transition: color 0.2s linear;
}

/*nav 2*/

.footer_nav_little{
    border: solid 1px #ffffff;
    
    padding-left: 4%;
    padding-right: 4%;
    border-left: none;
    border-right: none;
}

.nav_lit{
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    
    
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    
    color: #ffffff;
}

.footer_lit_name{
    font-family: "Montserrat";
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    width: auto;
    border-left: none;
    text-decoration: none; 
 
}

.footer_lit_num{
    font-family: "Montserrat";
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    width: auto;
    text-decoration: none;
    
}

.footer_lit_icons{
    display: inline-block;
    justify-content: space-between;
    width: 100px;
    color: #ffffff;
}


.footer_lit_site{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    color: #FFFFFF;
    text-decoration: none;  
}

/*Media*/

@media (max-width:1300px) {


}


@media (max-width:900px){

    /*Buttons*/
    .buttons{
        margin-top: 80%;
    }


    /*Wine Info Block*/
    .wine_title{
        font-size: 26px;
    }

    .wine_text{
        font-size: 18px;
    }

    .wine_img{
        margin-top: 4%;
    }


    /*Wine Collection*/
    .wine_collection{
        flex-direction: column;  
    }

    .first_column_title{
        text-align: center;
    }

    .first_column_suptitle{
        text-align: center;
    }

    .first_column_suptitle::after{
        margin: 0 auto;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .wine_columns{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        flex-wrap: wrap;
    }

    .first_column{
        width: 100%;
    }

    .second_column{
        order: -1;
        width: 100%;
        margin-bottom: 4%;
    }

    .wine_button{
        justify-content: center;
    }

    /*Wine_Form*/
    .grape{
        display: none;
    }
    .barrel{
        display: none;
    }

    .wine_form_title{
        font-size: 28px;
        margin-top: -10%;
    }

    .wine_form_text{
        margin-top: 5%;
        font-size: 17px;
    }

    .wine_form_input{
        width: 100%;
        margin-top: 8%;
    }

    /*Footer*/
    .footer_nav_big{
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
    }

    .nav_lit{
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
    }
}



@media (max-width:430px){

    /*Burger menu*/
    .menu_toggle{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        margin-top: 20px;
    }

    .menu_toggle::before,
    .menu_toggle::after{
        content: "";
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 139px;
    }

    .menu_toggle::before{
        top: 0;
    }

    .menu_toggle::after{
        bottom: 0;
    }

    .menu_toggle_item{
        position: absolute;
        background-color: #fff;
        left: 139px;
        width: 100%;
        height: 2px;
        top: 9px;
    }

    /*First Screen*/
   .first-inner{
    flex-direction: column;
    align-items: center;
   }
   
    /*Menu*/
    .menu{
        display: none;
    }

    /*Buttons*/
    .buttons{
        flex-direction: column;
        width: 90%;
        margin-top: 130%;
        margin-left: 5%;
        margin-right: 5%;
    }

    /*Wine Info*/
    .wine_title{
        font-size: 17px;
    }

    .wine_text{
        font-size: 13px;
    }

    .wine_img{
        margin-top: 11%;
        width: 60px;
        height: 110px;
    }

    /*Wine Form*/
    .wine_form_title{
        font-size: 16px;
    }

    .wine_form_text{
        font-size: 14px;
    }

    /*Wine Collection*/
    .first_column_suptitle{
        font-size: 23px;
    }


}




